<!-- FOOTER -->


    <footer id="footer">

        <!-- FOOTER P1 -->
        <div class="container fp1">

            <div class="logo2">
                <a class="dessin near" href="{{ path('home')}}">
                    <img src="/images/Logo_Joie_des_Papilles.png" alt="Logo Joie des Papilles">
                </a>
                <a class="brand color-brand2" href="{{ path('home')}}">Joie des Papilles</a>
            </div>

            <p class="reseaux">Suivez-nous !</p>

            <div class="icons-footer">
                <a class="instagram rotate" target="blank" href="https://www.instagram.com/joiedespapilles/"><i class="fab fa-instagram"></i></a>
                <a class="facebook-f rotate" target="blank" href="https://fr-fr.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="youtube rotate" target="blank" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                <a class="envelope rotate" target="blank" href="{{path('contact')}}"><i class="fas fa-envelope"></i></a>
            </div>

        </div>
        <!-- FIN FOOTER P1 -->

        <!-- FOOTER P2 -->
        <div class="container fp2">

            <!-- Col-1 -->
            <div class="col-4 mb">
                <h3>Important</h3>
                <ul class="list-square">
                    <li class="manger"><strong>Pour votre santé, mangez au moins cinq fruits et légumes par jour.</strong><br/> 
                    Plus d'informations sur:
                        <a href="https://www.mangerbouger.fr/" target="blank">
                            <img src="/images/manger-bouger-vector-logo.png" alt="manger bouger">
                        </a>
                    </li>


                </ul>
            </div>

            <!-- Col-2 -->
            <div class="col-4 mb mt">
                <h3>Navigation</h3>
                <ul class="list-square">
                    <li>
                        <a class="effect" href="#!">Site Map</a>
                    </li>
                    
                </ul>
            </div>

            <!-- Col-3 -->
            <div class="col-4">
                <h3>Legal</h3>
                <ul class="list-square">
                    <li>
                    </li>
                    <li>
                        <a class="effect" href="{{path('mentions_legales')}}#donnes">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a class="effect" href="{{path('mentions_legales')}}#cookies">Politique des cookies</a>
                    </li>
                    <li>
                        <a class="effect" href="{{path('mentions_legales')}}#CGU">CGU</a>
                    </li>
                    <li>
                        <a class="effect" href="#">CGV</a>
                    </li>
                </ul>
            </div>

            <!-- Col-4 -->
            <div class="col-4">
                <h3>À propos</h3>
                <ul class="list-square">
                    <li>
                        <a class="effect" href="{{path('qui_sommes_nous')}}">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a class="effect" href="{{path('mentions_legales')}}#ML">Mentions légales</a>
                    </li>
                    <li>
                        <a class="effect" href="{{path('contact')}}">Nous contacter</a>
                    </li>
                    <li>
                        <a class="effect" href="{{path('app_login')}}">Se connecter</a>
                    </li>
                </ul>
            </div>

            <!-- </div> -->
        </div>

        <div id="scroll_to_top">
            <a href="#top"><i class="fas fa-arrow-circle-up"></i></a>
        </div>
        <!-- FIN FOOTER P2 -->

        <hr />

        <!-- FOOTER P3 -->
        <div class="foot">
            <p class="copyright">Tous droits réservés © Joies des Papilles 2022 - ftargino.com</p>
        </div>
        <!-- FIN FOOTER P3 -->

    </footer>
<!-- FIN FOOTER -->