{% extends "admin/base_admin.html.twig" %}

{# {% block title %}Category index{% endblock %} #}

{% block body %}

    <main id="">

        <section id="description">

            <div class="row">
               
                    <div class="presentation">

                {% if app.request.method == 'POST' %}
                        
                        {% if recipes | length == 0  and products | length == 0 and categories | length == 0 %}

                            <h4 class="mtop">Aucun résultat pour votre recherche.</h4>
                            {% else %}

                            <h1 class="title-cat">Vos résultats de recherche</h3>

                    {# {{ knp_pagination_render(categorie) }} #}  
                    </div>

                <!-- Col 1 -->
                    {% for category in categories %}
                        <div class="col-3 item sell">

                            <div class="imsell" href="">
                                <h4 class="h4-cat">{{ category.name }}</h4>
                                <img class="image-home" src="{{ category.image }}" alt="Image catégorie">
                            </div>
                                <div class="btn-admin">
                                    <a href="{{ path('admin_category_edit',{ 'id' : category.id } ) }}" class="btn-category"><i class="fa-solid fa-pen"></i> Modifier</a>
                                </div>
                            {# <div class="btnshow">
                                <a href="{{path('category_show',{ 'id' : category.id })}}}" class="btneye"><i class="fas fa-eye"></i> Consulter</a>
                            </div>               #}
                        </div>
                    {% endfor %}

                    {% for product in products %}

                        <div class="col-3 item sell">

                            <div class="imsell" href="">
                                <h4 class="h4-cat">{{ product.name }}</h4>
                                <img class="image-home" src="{{ product.image }}" alt="Image catégorie">
                            </div>
                            
                                <div class="card-footer">
                                    <p class="dscpt">Déscription : {{ product.description }}</p>
                                    <p>Catégorie : {{ product.category.name }}</p>
                                    <p class="padding">Prix : {{ product.price | priceFormatEuro }}</p>
                                </div>

                                <div class="btn-admin">
                                    <a href="{{ path('admin_product_edit',{ 'id' : product.id } ) }}" class="btn-category"><i class="fa-solid fa-pen"></i> Modifier</a>
                                </div>
                                <div class="btn-admin">
                                    <a href="{{ path('ecommerce_product',{ 'id' : product.id } ) }}" class="btn-category"><i class="fas fa-eye"></i> Consulter</a>
                                </div>
                                {# <div class="btn-admin">
                                    <a href="{{ path('product_show',{ 'id' : product.id } ) }}" class="btn-category">Consulter</a>
                                </div> #}
                            {# <div class="btnshow">
                                <a href="produit.html" class="btneye"><i class="fas fa-eye"></i> Consulter</a>
                            </div>               #}
                        </div>
                    {% endfor %}  

                    {% for recipe in recipes %}
                        <div class="col-3 item sell">

                            <div class="imsell" href="">
                                <h4 class="h4-cat">{{ recipe.name }}</h4>
                                <img class="image-home" src="{{ recipe.image }}" alt="Image catégorie">
                            </div>
                                <div class="btn-admin">
                                    <a href="{{ path('admin_recipe_edit',{ 'id' : recipe.id } ) }}" class="btn-category"><i class="fa-solid fa-pen"></i> Modifier</a>
                                </div>
                                <div class="btn-admin">
                                    <a href="{{ path('admin_recipe_show',{ 'id' : recipe.id } ) }}" class="btn-category"><i class="fa-solid fa-eye"></i> Consulter</a>
                                </div>
                            {# <div class="btnshow">
                                <a href="produit.html" class="btneye"><i class="fas fa-eye"></i> Consulter</a>
                            </div>               #}
                        </div>
                    {% endfor %}  

                {% endif %}
                {% endif %}       

            </div> <!-- row -->

            {# {{ knp_pagination_render(categorie) }}     #}

        </section>
        <!-- FIN SECTION 2 DESCRIPTION -->

    </main>
    <!-- FIN MAIN -->
{% endblock %}
