 {% extends "customer/base.html.twig" %}

{% block title %}Recette Salée{% endblock %}

{% block body %}

 <!-- MAIN -->
    <main id="main">

        <!-- PAGE RECETTE SALEE -->

        <section id="description">

            <div class="presentation">

                <!-- Photo présentation recette -->
                <div class="box-recette">
                    <img class="recette" src="{{recipe.image}}" alt="">
                </div>

                <!--  -->
                <div class="info-recette">
                    <h1>{{recipe.name}}</h1>
                </div>

                <div class="box-icon">
                    <p><img class="chefe" src="/images/chef.png" alt="">{{recipe.difficulty}}</p>
                    <p><i class="chefe fa-regular fa-clock"></i><br>{{recipe.duration}}</p>
                    <p><i class="chefe fas fa-utensils"></i><br>{{recipe.portion}}</p>

                 
                    {% if recipe.vegetarian is same as true %}

                    <p class="veg"><i class=" chefe fas fa-leaf"></i><br>végétarien</p>

                    {% endif %}
                </div>

                <div class="recipeInfo">{{recipe.presentation | raw}}</div>

                <div class="box-preparation">
                    <div class="page-rsel box-number ">

                        <div class="prepa">
                            <h2 class="h2-prepa">Ingrédients</h2>

                            <div class="box-ingredients text-format">
                        
                                {{recipe.ingredient | raw}}  
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="page-rsel etapes-recette">
                        <div class="prepa">
                            <h2 class="h2-prepa">Préparation</h2>

                                 {% if app.user %}

                            <div class="box-ingredients text-format">
                              {{recipe.preparation | raw }}
                            </div>
                            <br>
                            <p><strong>Régalez-vous !</strong></p>

                            {% else %}

                            <div class="box-ingredients text-format">
                              <p>Connectez-vous pour pouvoir accéder à la préparation de la recette ! <br>
                              <a class="lien-login" href="{{path('app_login')}}"><i class="fas fa-user"></i> Connectez-vous !</a>
                              <a class="compte" href="{{path('app_register')}}">Créez votre compte</a>
                              </p>
                            </div>

                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- FIN PAGE RECETTE SALEE -->

    </main>
    <!-- FIN MAIN -->

{% endblock %}
