 {% extends "admin/base_admin.html.twig" %}

{% block title %}Produits{% endblock %}

{% block body %}

    <main>
        <section id="description">

            <div class="row">

                <div class="presentation">

                    <h1 class="title-cat">Gestion des produits</h1>
                     {% include "_messages_flash.html.twig" %}

                    <p class="intro"></p>
                     <div class="btnshow btn-ajouter">
                        <a href="{{ path('admin_product_new') }}" class="btneye"><i class="fas fa-plus"></i> Ajouter</a>
                    </div> 

                    {{ knp_pagination_render(products) }}

                </div>

                <!-- Col 1 -->
                {% for product in products %}

                    <div class="col-3 item sell">

                        <div class="imsell" href="">
                            <h4 class="h4-cat">{{ product.name }}</h4>
                            <img class="image-home" src="{{ product.image }}" alt="Image catégorie">
                        </div>
                           
                            <div class="card-footer">
                                <p class="dscpt">Déscription : {{ product.description }}</p>
                                <p>Catégorie : {{ product.category.name }}</p>
                                <p class="padding">Prix : {{ product.price | priceFormatEuro }}</p>
                            </div>

                             <div class="btn-admin">
                                <a href="{{ path('admin_product_edit',{ 'id' : product.id } ) }}" class="btn-category"><i class="fa-solid fa-pen"></i> Modifier</a>
                            </div>
                            <div class="btn-admin">
                                <a href="{{ path('ecommerce_product',{ 'id' : product.id } ) }}" class="btn-category"><i class="fas fa-eye"></i> Consulter</a>
                            </div>            
                    </div>
                {% endfor %}              

            </div> <!-- row -->

            {{ knp_pagination_render(products) }}

        </section>
        <!-- FIN SECTION 2 DESCRIPTION -->

    </main>
    <!-- FIN MAIN -->
{% endblock %}   

